@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* White */
    --light: 0 0% 100%;
    /* Black */
    --dark: 219 40% 11%;
    /* White */
    --background: var(--light);
    /* Black */
    --foreground: var(--dark);

    /* Gray Background */
    --background-gray: 210 17% 98%;
    /* Primary */
    --primary: 227 96% 59%;
    /* White */
    --primary-foreground: var(--light);
    /* Secondary Background */
    --secondary: 215 100% 98%;
    /* Gray 600 */
    --secondary-foreground: 220 9% 46%;
    /* Primary Opacity 10% */
    --accent: 228 100% 94%;
    /* Similar to Black, but slightly lighter */
    --accent-foreground: 0 0% 9%;
    /* Stroke / Gray 100 / Line Color */
    --muted: 210 17% 95%;
    /* Gray 400 */
    --muted-foreground: 0 0% 69%;
    /* Red */
    --destructive: 11 90% 54%;
    /* White */
    --destructive-foreground: var(--light);
    /* Orange */
    --warning: 35 97% 56%;
    /* Green */
    --success: 142 70% 49%;
    /* Stroke / Gray 100 / Line Color */
    --border: var(--muted);
    /* Stroke / Gray 100 / Line Color */
    --input: var(--muted);
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --height-header: 4.5rem;
    --height-input: 2.858rem;
    --shadow-primary: 0 10px 32px 0px rgba(0, 0, 0, 0.05);
  }
  .dark {
    --background: 235 14% 15%;
    --foreground: var(--light);
    --background-gray: 235 14% 18%;
    --primary-foreground: var(--light);
    --secondary: 235 14% 18%;
    --secondary-foreground: var(--light);
    --accent: 235 14% 17%;
    --accent-foreground: var(--light);
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --destructive: 11 100% 50%;
    --destructive-foreground: var(--light);
    --border: 235 14% 21%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
